<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Hello World</title>

</head>
<body>
<h1 align="center">Genealogical Tree</h1>

<!--    <table style="width:100%">-->
<!--        <tr>-->
<!--            <th>Firstname</th>-->
<!--            <th>Lastname</th>-->
<!--            <th>Age</th>-->
<!--            <th>Relation</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="${data.name}"></td>-->
<!--            <td th:text="${data.lastname}"></td>-->
<!--            <td th:text="${data.age}"></td>-->
<!--            <td th:text="${relation.me}"></td>-->

<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="${data2.name}"></td>-->
<!--            <td th:text="${data2.lastname}"></td>-->
<!--            <td th:text="${data2.age}"></td>-->
<!--            <td th:text="${relation.brother}"></td>-->

<!--        </tr>-->
<!--    </table>-->
<table style="width:100%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Heigth</th>
                <th>Weigth</th>


            </tr>
<!--    petla for each-->
<tr th:each = "listek : ${list}">

    <td th:text="${listek.name}"></td>
    <td th:text="${listek.lastName}"></td>
    <td th:text="${listek.age}"></td>
    <td th:text="${listek.heigth}"></td>
    <td th:text="${listek.weigth}"></td>


</tr>
</table>


<form th:action = "@{/add}" th:object = "${newData}" method="post">
    <p>First name:</p>
    <input type="text" th:field = "*{name}"><br>



    <p>Last name:</p>
    <input type="text" th:field = "*{lastName}"><br>

    <p>Age:</p>
    <input type="text" th:field = "*{age}"><br>

    <p>Heigth:</p>
    <input type="text" th:field = "*{heigth}"><br>

    <p>Weigth:</p>
    <input type="text" th:field = "*{weigth}"><br>

<!--    <p>Sex:</p>-->
<!--    <input type="checkbox" th:field = "*{sex}"><br>-->




<!--    <td th:switch="*{sex}">-->
<!--        <span th:case="'M'" th:text="Male" />-->
<!--        <span th:case="'F'" th:text="Female" />-->
<!--    </td>-->

        <p><input type="submit" value="Dodaj"></p>

</form>
<form th:action = "@{/sort}" th:object = "${newData}" method="post">
    <input type="submit" value="Posortuj według wieku">
</form>


</body>
</html>